LipsApi\.vs\
LipsApi\bin\
LipsApi\Lips.Dal\bin\
LipsApi\Lips.Dal\obj\
LipsApi\Lips.Domain\bin\
LipsApi\Lips.Domain\obj\
LipsApi\Lips.Dto\bin\
LipsApi\Lips.Dto\obj\
LipsApi\Lips.Infrastucture\bin\
LipsApi\Lips.Infrastucture\obj\
LipsApi\Lips.Repository\bin\
LipsApi\Lips.Repository\obj\
LipsApi\Lips.Service\bin\
LipsApi\Lips.Service\obj\
LipsApi\Lips.Tool\bin\
LipsApi\Lips.Tool\obj\
LipsApi\Lips.Website\bin\
LipsApi\Lips.Website\obj\
LipsApi\obj
/LipsApi/packages/
*.dll
*.cache
*.pdb
LipsApi/Lips.Infrastructure/bin/
LipsApi/Lips.Repository/bin/
LipsApi/Lips.Repository/obj/
LipsApi/Lips.Service/bin/
LipsApi/Lips.Service/obj/
LipsApi/Lips.Tool/obj/
LipsApi/Lips.Website/bin/
LipsApi/Lips.Website/obj/
LipsApi/obj/
LipsApi/.vs/config/applicationhost.config
LipsApi/.vs/Lips.Website/v15/sqlite3/storage.ide
LipsApi/Lips.Infrastructure/obj/Debug/Lips.Infrastructure.csproj.FileListAbsolute.txt
LipsApi/Lips.Dto/obj/Debug/Lips.Dto.csproj.FileListAbsolute.txt
LipsApi/Lips.Domain/obj/Debug/Lips.Domain.csproj.FileListAbsolute.txt
LipsApi/Lips.Dal/obj/Debug/Lips.Dal.csproj.FileListAbsolute.txt
LipsApi/.vs/Lips.Website/v15/.suo
LipsDB/LipsDB/LipsDB/obj/Debug/LipsDB.sqlproj.FileListAbsolute.txt
LipsDB/LipsDB/LipsDB/obj/Debug/refactor.xml
LipsDB/LipsDB/LipsDB/obj/Debug/Model.xml
LipsDB/LipsDB/LipsDB/bin/Debug/LipsDB.dacpac
LipsDB/LipsDB/.vs/LipsDB/v15/.suo
LipsApi/Lips.Website.sln
LipsApi/Lips.Dal/bin/
LipsApi/Lips.Dal/obj/
LipsApi/Lips.Infrastructure/obj/
LipsApi/Lips.Dto/obj/
LipsApi/Lips.Domain/obj/
LipsDB/LipsDB/LipsDB/LipsDB.dbmdl
LipsApi/Lips.Website/Properties/PublishProfiles/FolderProfile.pubxml.user
LipsApi/Lips.Api/bin/roslyn/vbc.rsp
LipsApi/Lips.Api/bin/roslyn/vbc.exe.config
LipsApi/Lips.Api/bin/roslyn/vbc.exe
LipsApi/Lips.Api/bin/roslyn/csi.rsp
LipsApi/Lips.Api/bin/roslyn/csi.exe.config
LipsApi/Lips.Api/bin/roslyn/csi.exe
LipsApi/Lips.Api/bin/roslyn/csc.rsp
LipsApi/Lips.Api/bin/roslyn/csc.exe.config
LipsApi/Lips.Api/bin/roslyn/csc.exe
LipsApi/Lips.Api/bin/roslyn/VBCSCompiler.exe.config
LipsApi/Lips.Api/bin/roslyn/VBCSCompiler.exe
LipsApi/Lips.Api/bin/roslyn/Microsoft.VisualBasic.Core.targets
LipsApi/Lips.Api/bin/roslyn/Microsoft.CSharp.Core.targets
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/Lips.Repository.dll.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/Lips.Infrastructure.dll.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/Lips.Dal.dll.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Web.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Global.asax
LipsApi/Lips.Api/obj/Release/Lips.Api.csproj.FileListAbsolute.txt
LipsApi/Lips.Api/obj/Release/Lips.Api.csproj.CopyComplete
LipsApi/Lips.Api/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LipsApi/Lips.Api/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LipsApi/Lips.Api/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LipsApi/Lips.Api/obj/Debug/Lips.Api.csproj.FileListAbsolute.txt
LipsApi/Lips.Api/obj/Debug/Lips.Api.csproj.CopyComplete
LipsApi/Lips.Api/obj/Release/_WPPLastBuildInfo.txt
LipsApi/Lips.Api/obj/Release/TransformWebConfig/transformed/Web.config
LipsApi/Lips.Api/obj/Release/TransformWebConfig/original/Web.config
LipsApi/Lips.Api/obj/Release/TransformWebConfig/assist/Web.config
LipsApi/Lips.Api/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LipsApi/Lips.Api/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LipsApi/Lips.Api/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
LipsApi/Lips.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
LipsApi/Lips.Api/Properties/PublishProfiles/FolderProfile.pubxml
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/csi.exe.config
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/csi.exe
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/csc.rsp
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/csc.exe.config
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/csc.exe
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/VBCSCompiler.exe.config
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/VBCSCompiler.exe
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/Microsoft.VisualBasic.Core.targets
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/Microsoft.CSharp.Core.targets
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/Lips.Repository.dll.config
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/Lips.Infrastructure.dll.config
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/Lips.Dal.dll.config
LipsApi/Lips.Api/bin/Release/PublishOutput/Web.config
LipsApi/Lips.Api/bin/Release/PublishOutput/Global.asax
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/vbc.rsp
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/vbc.exe.config
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/vbc.exe
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/roslyn/csi.rsp
LipsApi/Lips.Api/bin/Newtonsoft.Json.xml
LipsApi/Lips.Api/bin/Microsoft.Owin.xml
LipsApi/Lips.Api/bin/Microsoft.Owin.Security.xml
LipsApi/Lips.Api/bin/Microsoft.Owin.Security.OAuth.xml
LipsApi/Lips.Api/bin/Microsoft.Owin.Security.Cookies.xml
LipsApi/Lips.Api/bin/Microsoft.Owin.Hosting.xml
LipsApi/Lips.Api/bin/Microsoft.Owin.Host.SystemWeb.xml
LipsApi/Lips.Api/bin/Microsoft.Owin.Host.HttpListener.xml
LipsApi/Lips.Api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
LipsApi/Lips.Api/bin/System.Web.Http.xml
LipsApi/Lips.Api/bin/Microsoft.AspNet.Identity.Owin.xml
LipsApi/Lips.Api/bin/Microsoft.AspNet.Identity.Core.xml
LipsApi/Lips.Api/bin/Lips.Repository.dll.config
LipsApi/Lips.Api/bin/Lips.Infrastructure.dll.config
LipsApi/Lips.Api/bin/Lips.Dal.dll.config
LipsApi/Lips.Api/bin/Lips.Api.dll.config
LipsApi/Lips.Api/bin/EntityFramework.xml
LipsApi/Lips.Api/bin/EntityFramework.SqlServer.xml
LipsApi/Lips.Api/bin/AutoMapper.xml
LipsApi/Lips.Api/bin/System.Web.Http.WebHost.xml
LipsApi/Lips.Api/bin/System.Web.Http.Owin.xml
LipsApi/Lips.Api/bin/System.Net.Http.Formatting.xml
LipsApi/Lips.Api/obj/Debug/_WPPLastBuildInfo.txt
LipsApi/Lips.Api/obj/Debug/TransformWebConfig/transformed/Web.config
LipsApi/Lips.Api/obj/Debug/TransformWebConfig/original/Web.config
LipsApi/Lips.Api/obj/Debug/TransformWebConfig/assist/Web.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/vbc.rsp
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/vbc.exe.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/vbc.exe
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/csi.rsp
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/csi.exe.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/csi.exe
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/csc.rsp
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/csc.exe.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/csc.exe
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/Lips.Repository.dll.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/Lips.Infrastructure.dll.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/bin/Lips.Dal.dll.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Web.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/_ViewStart.cshtml
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/Web.config
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/Shared/_Layout.cshtml
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/Shared/Error.cshtml
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/Home/Successed.cshtml
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/Home/Rejected.cshtml
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/Home/Index.cshtml
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Views/Home/Cancelled.cshtml
LipsApi/Lips.Api/obj/Debug/Package/PackageTmp/Global.asax
LipsApi/Lips.Api/bin/System.Web.Optimization.xml
LipsApi/Lips.Api/bin/System.Web.Mvc.xml
LipsApi/Lips.Api/bin/System.Web.Helpers.xml
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/_ViewStart.cshtml
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Home/Cancelled.cshtml
LipsApi/Lips.Api/bin/System.Web.WebPages.xml
LipsApi/Lips.Api/bin/System.Web.WebPages.Razor.xml
LipsApi/Lips.Api/bin/System.Web.Razor.xml
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Shared/Error.cshtml
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Home/Successed.cshtml
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Home/Index.cshtml
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Web.config
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Shared/_Layout.cshtml
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Home/Rejected.cshtml
LipsApi/Lips.Api/bin/System.Web.WebPages.Deployment.xml
LipsApi/Lips.Api/Content/QR/
LipsApi/Lips.Tool/bin/Release/MailSender/PaymentPendingClient.xslt
LipsApi/Lips.Tool/bin/Release/MailSender/PaymentNewClientLips.xslt
LipsApi/Lips.Tool/bin/Release/MailSender/PaymentNewClientLips - Copy.xslt
LipsApi/Lips.Tool/bin/Release/MailSender/PaymentNewClient.xslt
LipsApi/Lips.Tool/bin/Release/MailSender/PaymentLastStatusClient.xslt
LipsApi/Lips.Tool/bin/Release/MailSender/NewQRCodeLipsClient.xslt
LipsApi/Lips.Tool/bin/Release/MailSender/NewQRCodeLips.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/PaymentNewClient.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/PaymentLastStatusClient.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/NewQRCodeLipsClient.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/NewQRCodeLips.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/ContactRequestLips.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/ContactRequestClient.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/ActivateNewUser.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/Lips.Tool.dll.config
LipsApi/Lips.Api/bin/Release/PublishOutput/Views/Home/Failured.cshtml
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/success.svg
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/stylesheet.css
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/lips.png
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/failed.svg
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/bootstrap.min.css
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/bootstrap.css
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/aborted.svg
LipsApi/Lips.Tool/bin/Release/MailSender/ContactRequestLips.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Home/Failured.cshtml
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Home/Cancelled.cshtml
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/success.svg
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/stylesheet.css
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/lips.png
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/failed.svg
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/bootstrap.css
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/aborted.svg
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Content/Site.css
LipsApi/Lips.Api/obj/Release/Lips.Api.Properties.Resources.resources
LipsApi/Lips.Api/obj/Debug/Lips.Api.Properties.Resources.resources
LipsApi/Lips.Api/bin/Release/PublishOutput/bundles/bootstrap.min.js
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/PaymentPendingClient.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/PaymentNewClientLips.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/bin/MailSender/PaymentNewClientLips - Copy.xslt
LipsApi/Lips.Api/bin/Release/PublishOutput/Content/Site.css
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/PaymentNewClientLips.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/PaymentNewClientLips - Copy.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/PaymentNewClient.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/PaymentLastStatusClient.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/NewQRCodeLipsClient.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/NewQRCodeLips.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/ContactRequestLips.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/ContactRequestClient.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/ActivateNewUser.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/Lips.Tool.dll.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Web.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Home/Successed.cshtml
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Home/Rejected.cshtml
LipsApi/Lips.Tool/bin/Release/MailSender/ContactRequestClient.xslt
LipsApi/Lips.Tool/bin/Release/MailSender/ActivateNewUser.xslt
LipsApi/Lips.Tool/bin/Release/Lips.Tool.dll.config
LipsApi/Lips.Tool/bin/Debug/MailSender/PaymentPendingClient.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/PaymentNewClientLips.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/PaymentNewClientLips - Copy.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/PaymentNewClient.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/PaymentLastStatusClient.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/NewQRCodeLipsClient.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/NewQRCodeLips.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/ContactRequestLips.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/ContactRequestClient.xslt
LipsApi/Lips.Tool/bin/Debug/MailSender/ActivateNewUser.xslt
LipsApi/Lips.Tool/bin/Debug/Lips.Tool.dll.config
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bundles/bootstrap.min.js
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/bin/MailSender/PaymentPendingClient.xslt
LipsApi/Lips.Api/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
LipsApi/Lips.Api/bin/MailSender/PaymentPendingClient.xslt
LipsApi/Lips.Api/bin/MailSender/PaymentNewClientLips.xslt
LipsApi/Lips.Api/bin/MailSender/PaymentNewClientLips - Copy.xslt
LipsApi/Lips.Api/bin/MailSender/PaymentNewClient.xslt
LipsApi/Lips.Api/bin/MailSender/PaymentLastStatusClient.xslt
LipsApi/Lips.Api/bin/MailSender/NewQRCodeLipsClient.xslt
LipsApi/Lips.Api/bin/MailSender/NewQRCodeLips.xslt
LipsApi/Lips.Api/bin/MailSender/ContactRequestLips.xslt
LipsApi/Lips.Api/bin/MailSender/ContactRequestClient.xslt
LipsApi/Lips.Api/bin/MailSender/ActivateNewUser.xslt
LipsApi/Lips.Api/bin/Lips.Tool.dll.config
LipsApi/.vs/Demo.Website/v14/.suo
LipsApi/Lips.Api.sln
