
@{
    ViewBag.Title = "Success";
}

<h1>Rejected</h1>
<form action="wasapp://rejected" id="form" target="_blank">
    <input type="submit" value="Return to Application" />
</form>
<script>
    document.getElementById("form").submit();
</script>


